.moving-footer {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: aqua;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.moving-footer p {
  display: inline-block;
  animation: scrollFooter 10s linear infinite;
  white-space: nowrap;
}

.moving-footer a {
  color: #0078ff;
  text-decoration: none;
}

.moving-footer a:hover {
  text-decoration: underline;
}

@keyframes scrollFooter {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
